/* @media (max-width: 1184px)*/
.header {
  width: 1920px;
  height: 100px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  height: 1020px;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 32px;
  /* margin-bottom: 32px; */
}

.footer {
  width: 1920px;
  height: 63px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
